In [28]:
import pandas as pd
df = pd.read_csv('haberman.csv')
df

     age  year  nodes  status
0     30    64      1       1
1     30    62      3       1
2     30    65      0       1
3     31    59      2       1
4     31    65      4       1
..   ...   ...    ...     ...
300   74    63      0       1
301   75    62      1       1
302   76    67      0       1
303   77    65      3       1
304   78    65      1       2

[305 rows x 4 columns]

In [29]:
df.head()

   age  year  nodes  status
0   30    64      1       1
1   30    62      3       1
2   30    65      0       1
3   31    59      2       1
4   31    65      4       1

In [30]:
df['age'].unique()

array([30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
       48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
       65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78])

In [31]:
df['age'].value_counts()

age
52    14
54    13
50    12
43    11
47    11
53    11
57    11
38    10
49    10
55    10
41    10
65    10
42     9
45     9
61     9
63     8
59     8
70     7
34     7
46     7
62     7
56     7
58     7
48     7
44     7
51     6
60     6
67     6
37     6
39     6
66     5
64     5
69     4
72     4
40     3
30     3
33     2
31     2
36     2
35     2
68     2
73     2
74     2
71     1
75     1
76     1
77     1
78     1
Name: count, dtype: int64

In [32]:
df.describe()

              age        year       nodes      status
count  305.000000  305.000000  305.000000  305.000000
mean    52.357377   62.868852    4.032787    1.262295
std     10.678010    3.242783    7.200528    0.440605
min     30.000000   58.000000    0.000000    1.000000
25%     44.000000   60.000000    0.000000    1.000000
50%     52.000000   63.000000    1.000000    1.000000
75%     60.000000   66.000000    4.000000    2.000000
max     78.000000   69.000000   52.000000    2.000000

In [33]:
df.corr()

             age      year     nodes    status
age     1.000000  0.105192 -0.061375  0.053424
year    0.105192  1.000000 -0.005169  0.003435
nodes  -0.061375 -0.005169  1.000000  0.289670
status  0.053424  0.003435  0.289670  1.000000